<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../assets/images/logoSebaGump.png" alt="SeBa Gump" style="max-width: 50px;"> SeBa Gump
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shrimp">Nos Crevettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipe">Recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
